<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>
    <%= cell.name %> Crime Cell</h1>
  </br>
  <h3> Capacity:
    <%=cell.capacity - cell.prisoner.length%>
  </h3>
  <h4>Prisoners</h4> </br>
  <%  for ( let i = 0; i < cell.prisoner.length; i++ ) { %>
  <a href="/prisoners/<%=cell.prisoner[i].id%>">
    <%= cell.prisoner[i].name %></a> </br>
  <img src="<%=cell.prisoner[i].picture%>"> </br>
  <%    } %>

  </br>
  </br>

  <form action="/cells/<%=cell.id%>?_method=DELETE" method="post">
    <input type="submit" value="Delete Cell">
  </form>

  <form action='/cells/<%=cell.id%>/edit' method='GET'>
    <input type="submit" value="EDIT CELL INFORMATION">
  </form>

</body>

</html>